@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

/* Chrome, Safari, Edge, Opera */
.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

input,
select {
  @apply w-full rounded-[6.25rem] border-[1px] border-[#D0D5DD] px-[1.25rem] py-[0.875rem] text-[1rem] placeholder:text-sm focus:outline-none;
}

textarea {
  @apply w-full rounded-[1rem] border-[1px] border-[#D0D5DD] px-[1.25rem] py-[0.875rem] text-[1rem] placeholder:text-sm focus:outline-none;
}

input:focus,
textarea:focus,
select:focus {
  @apply border-gray-900;
}

label {
  @apply text-sm text-gray-600;
}

.btn-primary {
  @apply flex h-[44px] w-[150px] flex-1 items-center justify-center rounded-[6.25rem] border-[1px] border-[#D0D5DD] bg-black px-[1.25rem] py-[0.875rem] text-white shadow-sm transition-all duration-75 ease-in-out hover:brightness-50;
}

.btn-admin {
  @apply rounded-[6.25rem] border-[1px] border-[#D0D5DD] bg-[#0D2F3F] px-[1.25rem] py-[0.875rem] text-white shadow-sm hover:brightness-75;
}

.product-table {
  display: grid;
  grid-template-columns: 10% 40% 20% 20% 10%;
  justify-content: space-between;
}

.category-table {
  display: grid;
  grid-template-columns: 10% 70% 20%;
  justify-content: space-between;
}

.cart-table {
  display: grid;
  grid-template-columns: 15% 20% 15% 25% 15% 10%;
  justify-content: space-between;
}

.admin-table {
  display: grid;
  grid-template-columns: 35% 15% 20% 20% 10%;
  justify-content: space-between;
}

.hero-gradient {
  background: linear-gradient(
    94.38deg,
    rgba(0, 0, 0, 0.9) -4.7%,
    /* Darker at the start */ rgba(0, 0, 0, 0.8) 96.89% /* Darker at the end */
  );
}

.overlay-gradient {
  background: #00000033;
}

.card-gradient {
  background: linear-gradient(
    180deg,
    rgba(54, 54, 54, 0) 0%,
    rgba(150, 149, 149, 0.75) 100%
  );
}

.carousel-gradient {
  background: linear-gradient(
    180deg,
    rgba(54, 54, 54, 0) 0%,
    rgba(150, 149, 149, 0.3) 100%
  );
}
